@import url("98.css");

/*
    FONT STUFF
 */


.font-13px {
    font-family: "Pixelated MS Sans Serif", Arial, sans-serif;
}

/*
    GENERAL STUFF
 */

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.gap-4 {
    gap: 4px;
}

.gap-6 {
    gap: 6px;
}

.gap-8 {
    gap: 8px;
}

.margin-top-1 {
    margin-top: 1rem;
}

.margin-bottom-1 {
    margin-bottom: 1rem;
}

.margin-y-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

img {
    image-rendering: pixelated;
}

.sunken-panel {
    margin-top: 12px;
    margin-bottom: 12px;
}

.sunken-panel table {
    width: 100%;
}


body {
    background: #008080;
}


.common-body {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 0;
    height: 100vh;
}


#main {
    flex-grow: 1;
    margin: 2px;
    overflow: hidden;
    min-height: 0;
}

h1, h2, h3, h4 {
    font-family: Arial, sans-serif;
}

.hidden {
    display: none !important;
}

.field-stacked {
    display: flex;
    flex-direction: column
}

.no-growth {
    flex-grow: 0;
}

a.fake {
    text-decoration: underline;
    cursor: pointer;
}

/*https://stackoverflow.com/questions/20937475/remove-datalist-dropdown-arrow-in-chrome*/
input[type=email]::-webkit-calendar-picker-indicator {
    display: none !important;
}

td.actions {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 6px;
    flex-wrap: wrap;
}

td.actions form {
    margin-block-end: 0;
}

td.fit {
    width: 0;
    white-space: nowrap;
}

.indent {
    margin-left: 8px;
}


/*
    98.css EDITS
 */

.window {
    display: flex;
    flex-direction: column;
}

.window-body {
    flex: 1;
    min-height: 0; /*If the window body is a flexbox this fixes weird behavior where the contents will not overflow properly*/
    overflow-y: auto;
}

.window-content {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 90%;
    width: 100%;
}

.title-bar {
    flex-shrink: 0;
}

/*
    FORM STUFF
 */

.error-message {
    font-size: 11px;
    margin-top: 4px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    margin-left: 8px;
}

.basic-form .field-row-stacked {
    width: fit-content;
}

.basic-form .field-row-stacked > input {
    width: 200px;
}

/*
    SIDENAV STUFF
 */

#sidenav {
    width: 200px;
    margin: 2px;
    overflow-x: hidden;
}

.sidenav-body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 2px;
}

.sidenav-body button, .sidenav-body input[type=submit] {
    padding: 8px;
    width: 100%;
    font-weight: bold;
}

.sidenav-body a button:hover {
    cursor: pointer;
    text-decoration: underline;
}

.sidenav-body a button:disabled {
    cursor: auto;
    text-decoration: none;
}

.bottom-nav-bar {
    display: none;
}

.start-menu-button {
    display: flex;
    align-items: center;
    padding: 2px 4px;
}

/*
    LOGIN PAGE STUFF
 */

.centered-container {
    max-width: 400px;
    margin: 2rem auto auto;
}


.login-form-input {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
    margin-bottom: 4px;
}


/*
    STUFF I DON'T KNOW WHERE ELSE TO PUT
 */

.status-value {
    margin-left: 2px;
}


.small-sunken-table {
    max-width: 100%;
    min-width: 250px;
    width: min-content;
}

/**
    DASHBOARD STUFF
 */

.dashboard-statistic {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    flex-direction: row;
    padding: 8px;
    max-width: 200px;
    width: 100%;
    flex-shrink: 1;
}

.statistic-icon {
    width: 64px;
    height: 64px;
    image-rendering: pixelated;
}

.statistic-text {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.statistic-title {
    font-weight: bold;
}

.statistic-number {
    font-size: 64px;
    font-family: "Arial", sans-serif;
}

/*
    TICKET/PROJECT PAGE
 */

.title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
}

.ticket-icon-number-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 2px;
}

.ticket-info-thing {
    padding: 6px;
}

/*
    POPUP
 */

dialog {
    padding: 0;
    border: none;
}

@media only screen and (max-width: 768px) {
    #sidenav {
        position: fixed;
        z-index: 1;
        bottom: 2.5rem;
    }

    .common-body {
        left: 4px;
        flex-direction: column;
    }

    .bottom-nav-bar {
        flex-direction: column;
        display: block;
        min-height: 2rem;
        flex-shrink: 0;
    }

    .indent {
        margin-left: 4px;
    }
}
